body {
  background-color: #011313;
}
.company-logo-bar {
  background-color: #00c098;
  color: #011313;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 50px;
}
.image {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.to-do-list {
  color: #00c098;
  padding: 10px;
}
